page-start {
    ion-content{
        overflow: false;
    }

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}



}
