<!--
  Generated template for the Start page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-content  no-bounce padding style="background-color: #f4f4f4">
  <ion-grid center style="height: 100%">
    <ion-row>
      <ion-col text-center>
        <h5 ion-text color="appblack">Welcome to Majlis</h5>

      </ion-col>
    </ion-row>

    <ion-row center style="height: 100%;">
      <ion-col text-center>
        <img src="assets/img/registration/MajlisIcon.png" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
            <span ion-text color="appblack">Tap "Agree and Continue" to accept the Majlis <a ion-text href="#" (click)="openTerms()" color="appblack">Terms</a>
             of service and <a href="#" (click)="opendisclaimer()" ion-text color="appblack">Disclaimer Policy</a></span>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content> -->

<ion-content text-center class="vertical-align-content">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <img src="assets/img/registration/MajlisIcon.png" />
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer text-center>
  <span ion-text color="appblack">Tap "Agree and Continue" to accept the Majlis <a ion-text href="#" (click)="openTerms()" color="appblack">Terms</a>
             of service and <a href="#" (click)="opendisclaimer()" ion-text color="appblack">Disclaimer Policy</a></span>
  <ion-toolbar text-center color="light">
    <button (click)="acceptTerms()" ion-button color="appgreen">Agree and Continue</button>
  </ion-toolbar>
</ion-footer>