<!--
  Generated template for the Terms page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Terms</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div>These are just sample Terms & Condition texts. You should seek professional legal advice before using the texts.
</div>

</ion-content>
