<!--
  Generated template for the AboutUs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content padding>

  <ion-list style="margin-top: 70%">

    <ion-item>
      <ion-label floating style="margin-left: auto; margin-right: auto;">Mobile Number (+xxxxxxxxxx)</ion-label>
      <ion-input [(ngModel)]="mobileUser.mobileUserMobileNo" name="mobileUser.mobileUserMobileNo" id="regMobileNo" type="number"></ion-input>
   <ion-icon name="add" item-left style ="position:absolute; font-size:15px; margin-top:18px;" ></ion-icon>
    </ion-item>

  </ion-list>

  <button ion-button (click)="verifyMobileNo()" color="appgreen" style="margin-left: auto; margin-right: auto; display: block">Verify Your Mobile Number</button>

  <!-- <img src="assets/img/registration/MajlisIcon.png" /> -->



</ion-content>