<!--
  Generated template for the AboutUs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>{{groupName}}</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>

   <ion-list>
    <ion-card *ngFor="let event of eventWall">
      <div>
        <div class="banner-block">
          <img class="event-banner" [src]="event.eventIconPath">

        </div>

        <ion-row>
          <ion-col col-12>
            <div class="event-title">{{event.eventCaption}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7>
            <div class="event-date">Date  - {{ event.eventDate }}</div>
          </ion-col>
      
          <ion-col col-12>
            <div class="event-location">At {{event.eventLocation}}</div>
          </ion-col>
        </ion-row>
      </div>
      

    </ion-card>
  </ion-list>


</ion-content>