<!--
  Generated template for the NearbyEvents page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header >
  <ion-navbar color="appgreen" >
    <!-- <ion-title>{{eventTitle}}</ion-title>  -->
    <ion-buttons end>
      <button *ngIf="eventRsvpStatus=='Attending'" ion-button icon-only (click)="eventStatus(eventId)">
       <ion-icon name="ios-checkmark-circle" style="font-size:26px"></ion-icon>
      </button>
      <button *ngIf="eventRsvpStatus=='Pending'" ion-button icon-only (click)="eventStatus(eventId)">
       <ion-icon name="ios-more" style="font-size:26px"></ion-icon>
      </button>
      <button *ngIf="eventRsvpStatus=='Not Attending'" ion-button icon-only (click)="eventStatus(eventId)">
       <ion-icon name="ios-close-circle" style="font-size:26px"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openEventNotification(eventDetails.eventId)">
       <ion-icon name="ios-notifications-outline" style="font-size:26px"></ion-icon>
      </button>
    </ion-buttons>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="eventStatus(eventId)">
          <ion-icon ios="ios-more" md="md-more" style="font-size:26px"></ion-icon>
      </button>

      <!--<button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon  name="md-more" style="font-size:26px"></ion-icon>
      </button>-->
    <!-- </ion-buttons> -->

  </ion-navbar>

</ion-header>

<ion-content fullscreen style="background-color: #f4f4f4; margin-top:0">


  <!--Event Status Alert-->

  <ion-item hidden>
    <ion-select #selecteRSVP [(ngModel)]="groupEvent.eventStatus" (ionChange)="selectRsvp($event)" name="status">
      <ion-option *ngFor="let eventStatus of eventDetailsStatus" [value]="eventStatus.statusId">{{eventStatus.status}}</ion-option>
    </ion-select>
  </ion-item>


  <div>
    
    <div class="banner-block" align="center">
      <!--<img class="event-creator" src="{{eventDetails.eventIconPath}}">-->
      <div class="event-title">{{eventDetails.eventCaption}}</div>
      <div class="rsvp-status">{{eventRsvpStatus}}</div>
      <img class="event-banner" src-fallback="assets/img/default_banner.png" [src]="eventDetails.eventIconPath">
    </div>

    <a href="http://maps.google.com/maps?q={{eventDetails.eventLocationLat}},{{eventDetails.eventLocationLont}}">
      <div #map id="map"></div>
    </a>
    <div class="event-datetime" padding>

      <ion-row>
        <ion-col col-2>
          <ion-icon name="time" color="appgreen" style="font-size:26px;"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <div class="event-time">{{ eventDateCal }} | {{eventDateTime}}</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>
          <ion-icon name="md-navigate" color="appgreen" style="font-size:26px;"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <div class="event-location">{{eventDetails.eventLocation}}</div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <div class="participants">Responses:</div>
        <div round outline class="no-of-participants">  <ion-icon name="contacts"></ion-icon> &nbsp; {{manualResponseCount}}</div>
      </ion-row>
      <br>
      <ion-row>
        <div class="category">Category:</div>
        <div round outline class="name-of-cat"> <ion-icon name="paper"></ion-icon> &nbsp; {{eventDetails.eventCategory.categoryTitle}}</div>
        <!--<div round outline class="name-of-cat"></div>-->
      </ion-row>
      <hr>
    </div>
  </div>

  <ion-card style="background: #F4F4F4" *ngIf="eventDetailImages.length >0">
      <ion-card-header style="background: #009688;color: #fff;font-weight:bold;text-align: right">
          <ion-icon name="camera"></ion-icon> Event Images
        </ion-card-header>
        <ion-card-content >
          <ion-slides class="image-slider" slidesPerView="2" loop="true">
              <ion-slide *ngFor="let img of eventDetailImages" (click)="expandImage(img.eventImagePath)">
                <img [src]="img.eventImagePath" class="thumb-img">
              </ion-slide>
            </ion-slides><br>
        </ion-card-content>
      
      </ion-card>

      <ion-card style="background: #F4F4F4" *ngIf="eventDetailVideo.length >0">
          <ion-card-header style="background: #009688;color: #fff;font-weight: bold;text-align: right">
              <ion-icon name="videocam"></ion-icon> Event Videos
          </ion-card-header>
        
          <ion-list>
           
              <ion-slides class="image-slider" slidesPerView="2" loop="true">
                  <ion-slide *ngFor="let video of eventDetailVideo" (click)="expandVideo(video.videoFilePath)">
                    <video preload="metadata" class="videoPlayer">
                      <source [src]="video.videoFilePath" type="video/mp4" />
                    </video>
                  </ion-slide>
                </ion-slides>
          </ion-list>
        </ion-card>
 



  <ion-fab bottom right #fab>
    <button ion-fab color="fabbtn1" (click)="openFabButton()"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">

      <div class="tooltip">
        <button ion-fab color="fabbtn2" (click)="createEvent(fab,eventDetails.eventId)">
          <ion-icon name="calendar" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Add To Calender</span>
      </div>

      <div class="tooltip">
        <button ion-fab color="fabbtn3" (click)="openEventCommentsPage(fab,eventDetails.eventId, eventDetails.eventCaption)">
          <ion-icon name="text" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Comments</span>
      </div>

      <div class="tooltip">
        <button ion-fab color="fabbtn4" (click)="openFeedback(fab)">
          <ion-icon name="thumbs-up" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Feedback</span>
      </div>

      <div class="tooltip">
        <button ion-fab color="fabbtn5" (click)="openImageVideo(fab,eventDetails.eventId)">
          <ion-icon name="photos" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Add Images Videos</span>
      </div>
    </ion-fab-list>
  </ion-fab>


</ion-content>