page-event-wall {

    ion-buttons[start] {
        order: 2;
    }

.event-banner {
  width: 100%;
  height: 130px;
  object-fit: cover;
  //outline: 2px dashed blue;
}

.event-title{
    font-size: 20px;
    display: block; /* or inline-block */
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}
.event-date{
    color:#787878;
}
.event-location{
    color:#787878;
}
.my-rsvp{
    background-color:#009687;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
}

/*.event-banner{
        position: relative;
        .event-creator{
            position: absolute;
            //margin-left:85%;
            margin-top: 5px;
            color: #fff;
        }
    }*/
.banner-block{
        position: relative;
        .event-creator{
            position: absolute;
            margin-left:10px;
            margin-top: 80px;
            width:40px;
            height:40px;
            border-radius:50px;
            border: 2px solid #fff;
            z-index: 100;
        }
    }

    @keyframes placeHolderShimmer{
        0%{
            background-position: -100vw 0
        }
        100%{
            background-position: 100vw 0
        }
    }
    
    .animated-background {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 800px 104px;
        height: 96px;
        position: relative;
    }

}
