<!--
  Generated template for the EventWall page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="appgreen">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nearby Events</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openNotificationsPage()">
          <ion-icon name="ios-notifications-outline" style="font-size:26px">
          </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

   <ion-toolbar color="appgreen">
     <ion-searchbar debounce="100" (change)="getSearchedEvent($event)" animated="true" placeholder="Find Nearby Events" style="background-color: #009688"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-item hidden>
    <ion-select #selecteRSVP  name="groupEvent.eventStatus" (ionChange)="selectRsvp($event)" >
      <ion-option *ngFor="let eventStatus of eventDetailsStatus" [value]="eventStatus.statusId">{{eventStatus.status}}</ion-option>
    </ion-select>
  </ion-item>



  <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let event of eventWall">
      <div (click)="openSelectedEventPage(event.eventId, event.eventCaption, event.eventLocation, event.eventMessage, event.eventDate,event.eventTimeString, (event.majlisGroupEventStatusList.length== 0)?'Not Attending' : event.majlisGroupEventStatusList[0].status)">
        <div class="banner-block">
          <img class="event-creator" src-fallback="assets/img/MajlisIcon_bg.jpg" [src]="event.groupId.groupIconPath">
          <div *ngIf="!loading[event.eventId]" class="event-banner animated-background" style="height: 130px"></div>
          <img [hidden]="!loading[event.eventId]" class="event-banner"  [src]="event.eventIconPath" (load)="this.loading[event.eventId]=true" src-fallback="assets/img/default_banner.png">

        </div>

        <ion-row>
          <ion-col col-12>
            <div class="event-title">{{event.eventCaption}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7>
            <div class="event-date">Date  - {{ event.eventDate }} | {{event.eventTimeString}} Hr</div>
          </ion-col>
          <ion-col col-5  style="text-align:right">
            <div *ngIf="!(changeStatus && eventId==event.eventId)" class="my-rsvp" align="right" style="text-align:right">{{(event.majlisGroupEventStatusList.length== 0)?'Not Attending' : event.majlisGroupEventStatusList[0].status}}</div> 
          <ion-spinner *ngIf="changeStatus && eventId==event.eventId" name="dots"></ion-spinner>
          </ion-col>
          <ion-col col-12>
            <div class="event-location">At {{event.eventLocation}}</div>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-6>
          <button *ngIf="userMobileNumber" color="lightblack" style="width: 100%" ion-button icon-left clear small (click)="eventStatus(event.eventId,event.majlisGroupEventStatusList[0].statusId)">
          <ion-icon name="ios-people-outline"></ion-icon>
          <div style="font-size: 12px">Responses</div>
        </button>
        </ion-col>
        <ion-col col-6>
          <button *ngIf="userMobileNumber" color="lightblack" style="width: 100%" ion-button icon-left clear small (click)="openEventCommentsPage(event.eventId)">
          <ion-icon name="ios-text-outline"></ion-icon>
          <div style="font-size: 12px">Comments</div>
        </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="ios" loadingText="Loading more events...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>