<!--
  Generated template for the Registration page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>About Yourself</ion-title>

    <ion-buttons end style="display: none;">
      <button ion-button (click)="openGroupSelectPage(true)">
       SKIP
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-bounce style="background-color: #f4f4f4;padding-bottom: 10px">

  <form [formGroup]="userRegistrationForm">

    <ion-list>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About yourself</ion-item-divider>
      <ion-item style="background-color: #f4f4f4">

        <ion-label stacked>Mobile Number (+xxxxxxxxxx)</ion-label>

        <ion-input disabled="true" (focusout)="mobileNumberBlur()" id="regMobileNo" type="number" [(ngModel)]="mobileUser.mobileUserMobileNo" formControlName="mobileNo">

        </ion-input>
        <ion-icon name="add" item-left style="position:absolute; font-size:15px; margin-top:18px;"></ion-icon>

      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Name</ion-label>
        <ion-input id="regUserName" type="text" [(ngModel)]="mobileUser.mobileUserName" formControlName="userName"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>E-mail Address</ion-label>
        <ion-input id="regEmail" type="email" [(ngModel)]="mobileUser.mobileUserEmail" formControlName="emailAddress" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"></ion-input>
      </ion-item>
      <ion-item *ngIf="!userRegistrationForm.controls.emailAddress.valid && userRegistrationForm.controls.emailAddress.dirty">
        <ion-label color="danger">Please enter valid email address</ion-label>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime id="regDate" displayFormat="YYYY/MMMM/DD" [yearValues]="arrYears"   [(ngModel)]="mobileUser.mobileUserDob"
          formControlName="dateOfBirth" name="dateOfBirth"></ion-datetime>
      </ion-item>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your location</ion-item-divider>
      <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openCountryList($event)">
        <ion-label>Country</ion-label>
        <ion-label id="regCountry" readonly="true"  text-right>{{countryName}}</ion-label>
      </button>
      <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openProvinceList($event)">
        <ion-label>Province</ion-label>
        <ion-label id="regProvince" readonly="true"  text-right>{{provinceName}}</ion-label>
      </button>
      <!--<ion-item style="background-color: #f4f4f4">
        <ion-label floating>Province</ion-label>
        <ion-input id="regProvince" type="text" [(ngModel)]="mobileUser.mobileUserProvince" formControlName="province"></ion-input>
      </ion-item>-->
      <!--<ion-item style="background-color: #f4f4f4">
        <ion-label floating>City</ion-label>
        <ion-input id="regCity" type="text" [(ngModel)]="mobileUser.mobileUserCity" formControlName="city"></ion-input>
      </ion-item>-->

      <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openCityList($event)">
        <ion-label>City</ion-label>
        <ion-label id="regCity" readonly="true"  text-right>{{cityName}}</ion-label>
      </button>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your favorite categories</ion-item-divider>
      <ion-item style="background-color: #f4f4f4">
        <ion-label stacked>Categories</ion-label>
        <ion-select id="regCategory" multiple="true" [(ngModel)]="mobileUser.majlisCategoryList" formControlName="category" name="category">
          <ion-option *ngFor="let cat of catList" [value]="cat.categoryId">{{cat.categoryTitle}}</ion-option>

        </ion-select>
      </ion-item>

    </ion-list>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar text-center color="light">
    <button id="regUserSubmit" type="submit" ion-button color="appgreen" [disabled]="!userRegistrationForm.valid" (click)="registerUser()">Continue</button>
  </ion-toolbar>
</ion-footer>