group-select {

.comsection1{
  width: 90%;
  float: left;
}
.comsection2{
    padding-top: 20px;
  width: 10%;
  float: right;
}
.group-level{
    background-color:#a6a8a8;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:4px 10px;
	text-decoration:none;
}

// .img-loaded + ion-spinner {
//   display:none;
// }



}
