<!--
  Generated template for the Terms page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Groups</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!--<div *ngFor="let gList of groupList">{{gList.groupTitle}}</div>-->
  <br>
  <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>




  <ion-list [virtualScroll]="groupList" approxItemHeight="50px">
    <ion-card *virtualItem="let groups">
      <form [formGroup]="groupSelectionForm">
        <div class="comsection1" (click)="onTapGroup(groups.groupId,groups.groupTitle)">
          <ion-item>
            <ion-avatar item-left>
              <!--<img src="https://i.ytimg.com/vi/AZj9EaZRGV8/maxresdefault.jpg">-->
              <img [src]="groups.groupIconPath"/>
              <!--<ion-spinner name="bubbles"></ion-spinner>-->
            </ion-avatar>
            <h2>{{groups.groupTitle}}</h2>
            <p>{{groups.groupDescription}}</p>
            <!--<p>{{groups.groupId}}</p>-->
            <!--<h5 class="group-level">{{groups.groupStatus.}}</h5>-->
          </ion-item>
        </div>
        <div class="comsection2">
          <ion-checkbox formControlChange="group2" [checked]="selectedGrp(groups.groupId)" (ionChange)="getSelectedGroup(groups.groupId,$event)" color="appgreen"></ion-checkbox>
        </div>
      </form>
    </ion-card>
  </ion-list>


<!--
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more groups...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->



</ion-content>

<ion-footer>
  <ion-toolbar text-center color="light">
    <button type="submit" *ngIf="!editMode" ion-button color="appgreen" (click)="finishUserReg()">Finish Registration</button>
      <button type="submit" *ngIf="editMode" ion-button color="appgreen" (click)="saveGroupChanges()">Save Changes</button>
  </ion-toolbar>
</ion-footer>