<!--
  Generated template for the CountryList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Pick your country</ion-title>

    <ion-buttons end>
      <button (click)="cancelSelectCountry()" ion-button>
       CANCEL
      </button>
    </ion-buttons>
  </ion-navbar>

<ion-searchbar (ionInput)="getCountryItems($event)" style="background-color: #009688"></ion-searchbar>
</ion-header>


<ion-content>
  <ion-list bufferRatio="6" [virtualScroll]="tmpCountryList" approxItemHeight="30px">
    <button ion-item *virtualItem="let c"  (click)="onSelectCountry(c)">
      <ion-avatar item-left>
        <img src="{{c.flag}}" />
      </ion-avatar>
      <h2>{{c.name}}</h2>
    </button>
  </ion-list>
</ion-content>


