<!--
  Generated template for the EventComments page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>{{eventTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list [virtualScroll]="eventComment" [approxItemHeight]=" '80px' " [bufferRatio]="6">
    <ion-card *virtualItem="let eventCom">
      <div class="comsection1">
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/majlis-comment.png">
          </ion-avatar>
          <h2>{{eventCom.commentMessage}}</h2>
          <p>{{eventCom.commentEventId.eventCaption}}}</p>
          <p>{{eventCom.dateInserted | date }}</p>
        </ion-item>
      </div>
      <div class="comsection2">
        <button ion-button color="secondary">Likes</button>
      </div>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more comments...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="userPostComment">
      <ion-row>
        <ion-item>
          <ion-input type="text" placeholder="Write a comment" [(ngModel)]="saveComment.commentMessage" formControlName="userComment"></ion-input>
          <button ion-button item-right color="appgreen" style="padding:20px;" [disabled]="!userPostComment.valid" (click)="saveUserComment()">Post</button>
        </ion-item>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-footer>