page-event-comments {

    .like-button{
        background:#ffffff;
        color: #787878;
    }

       .comsection1{
  width: 75%;
  float: left;
}
.comsection2{
  width: 25%;
  float: right;
  text-align: center;
  padding: 20px 0;
}

}
