<!--
  Generated template for the AboutUs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>AboutUs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--  <ion-card>
    <img src="https://images.pexels.com/photos/2156/sky-earth-space-working.jpg?w=940&h=650&auto=compress&cs=tinysrgb" />
  </ion-card>
  <ion-card>
    <img src="https://images.pexels.com/photos/24895/pexels-photo-24895.jpg?w=940&h=650&auto=compress&cs=tinysrgb" />
  </ion-card>
  <ion-card>
    <img src="https://images.pexels.com/photos/87651/earth-blue-planet-globe-planet-87651.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
    />
  </ion-card>
  <ion-card>
    <img src="https://images.pexels.com/photos/23789/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb" />
  </ion-card>
  <ion-card>
    <img src="https://images.pexels.com/photos/2159/flight-sky-earth-space.jpg?w=940&h=650&auto=compress&cs=tinysrgb" />
  </ion-card> -->




  <ion-card>

    <div>

      <!--{{about}}-->

    </div>

  </ion-card>
  <br><br>

  <!--<div [innerHTML]="myHtmlString"></div>-->
</ion-content>