<!--
  Generated template for the AboutUs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar color="appgreen">

  </ion-navbar>

</ion-header>


<ion-content>



  <div showWhen="portrait">
    <video style="margin-top:30%" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
      <source [src]="videoFilePath" type="video/mp4" />
    </video>
  </div>

  <div showWhen="landscape">
    <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
      <source [src]="videoFilePath" type="video/mp4" />
    </video>
  </div>

</ion-content>