<!--
  Generated template for the Notifications page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list [virtualScroll]="notificationList" [approxItemHeight]=" '100px' " [bufferRatio]="6">
    <ion-card *virtualItem="let notification" (click)="openNotification(notification.notificationId)">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="{{notification.notificationIconPath}}">
        </ion-thumbnail>
        <h2 style="font-weight: bold;">{{notification.notificationMessage}}</h2>
        <p>{{notification.dateInserted | date : "fullDate"}}</p>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more notifications...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>