<!--
  Generated template for the Disclaimer page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Disclaimer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>These are just sample Disclaimer texts. You should seek professional legal advice before using the texts.
  </div>
</ion-content>