<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list [virtualScroll]="dbHistories" [approxItemHeight]=" '80px' " [bufferRatio]="6">
    <ion-card *virtualItem="let history">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/majlis-comment.png">
        </ion-avatar>
        <h2>{{history.hMessage}}</h2>
        <p>{{history.hDate}}</p>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more history...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>