<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce style="background-color: #f4f4f4;padding-bottom: 10px">
  
 <ion-list>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About yourself</ion-item-divider>
      <ion-item style="background-color: #f4f4f4">
        <ion-label stacked>Mobile Number (+xxxxxxxxxx)</ion-label>
        <ion-input (focusout)="mobileNumberBlur()" disabled="true" type="number" [(ngModel)]="mobileUser.mobileUserMobileNo" minlength="10" maxlength="15"></ion-input>
      <ion-icon name="add" item-left style ="position:absolute; font-size:15px; margin-top:18px;" ></ion-icon>
      </ion-item>

      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="mobileUser.mobileUserName"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>E-mail Address</ion-label>
        <ion-input type="email" [(ngModel)]="mobileUser.mobileUserEmail"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime displayFormat="YYYY/MMMM/DD" [(ngModel)]="mobileUser.mobileUserDob"></ion-datetime>
      </ion-item>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your location</ion-item-divider>
      <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openCountryList($event)">
        <ion-label>Country</ion-label>
        <ion-label readonly="true"  text-right>{{country}}</ion-label>
      </button>
        <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openProvinceList($event)">
        <ion-label>Province</ion-label>
        <ion-label id="regProvince" readonly="true"  text-right>{{mobileUser.mobileUserProvince}}</ion-label>
      </button>
      <!--<ion-item style="background-color: #f4f4f4">
        <ion-label floating>Province</ion-label>
        <ion-input type="text" [(ngModel)]="mobileUser.mobileUserProvince"></ion-input>
      </ion-item>-->
      <!--<ion-item style="background-color: #f4f4f4">
        <ion-label floating>City</ion-label>
        <ion-input type="text" [(ngModel)]="mobileUser.mobileUserCity"></ion-input>
      </ion-item>-->
        <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openCityList($event)">
        <ion-label>City</ion-label>
        <ion-label id="regCity" readonly="true"  text-right>{{mobileUser.mobileUserCity}}</ion-label>
      </button>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your favorite categories</ion-item-divider>
      <ion-item style="background-color: #f4f4f4" >
        <ion-label stacked>Categories</ion-label>
        <ion-select multiple="true" [(ngModel)]="mobileUser.majlisCategoryList" name="category">
          <ion-option *ngFor="let cat of catList" [value]="cat.categoryId">{{cat.categoryTitle}}</ion-option>
        </ion-select>
      </ion-item>

</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar text-center color="light">
    <button type="submit" ion-button color="appgreen" [disabled]="!userRegistrationForm.valid || !invalidNumber" (click)="updateUser()">Save Changes</button>
  </ion-toolbar>
</ion-footer>
