<!--
  Generated template for the ExpandNotification page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="notificationList">
    <div class="event-image" align="center">
      <img src="{{notificationList.notificationIconPath}}">
    </div>
    <ion-item-divider style="font-size:20px;" color="appgreen">Details</ion-item-divider>
    <ion-item text-wrap>
      <div style="font-size:18px;" padding ng-bind-html="notificationList.notificationMessage | convertState"></div>
    </ion-item>
  </div>
</ion-content>