<!--
  Generated template for the AboutUs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar color="appgreen">

  </ion-navbar>

</ion-header>


<ion-content>


<div showWhen="portrait">
 <img [src]="imageIconPath" width="100%" style="margin-top:10%">
</div>

<div showWhen="landscape">
 <img [src]="imageIconPath" width="100%">
</div>



</ion-content>